
body {background-color: #45b3e0;}

.addB h1{
    text-align: center;
}
.addB{
    background-color: #f3fafd;
    border-radius: 25px;
    width: 500px;
    padding: 10px;
    position:relative;
    margin:0 auto;
    clear:left;
    height:auto;
    box-shadow: 5px 5px 5px 5px #3996bb;
}

table {
    position:relative;
    margin:0 auto;
    clear:left;
    height:auto;
    z-index: 0;
    text-align:left;
    width: 400px;
}

.left{
    width: 200px;
    height: 30px;
}
h2 {
    text-align: center;
}

#in_button {
    margin-top: 15px;
    margin-left: 35%;
    margin-right: -65%;
}


