body{
    background-color: #45b3e0;
}

#loginbox{
    position:fixed;
    top: 50%;
    left: 50%;
    width:30em;
    height:24em;
    margin-top: -9em; 
    margin-left: -15em; 
    border: 1px solid	 #3996bb;
    background-color: white;
    border-radius: 25px;
    box-shadow: 5px 5px 5px 5px #3996bb;
}

h1 {
    margin-top: 40px;
    margin-left: 20px;
}

label{
    margin-left: 25px;
    padding-right: 5px;
}

#login {

    margin: auto;
    width: 580px;
}

input[type=text], input[type=password] {
    width: 75%;
    padding: 12px 20px;
    margin-left: 20px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
 }
  
.sButton{
    padding: 14px 20px;
    margin-top: 8px;
    border: none;
    cursor: pointer;
    width: 75%;
    margin-left: 20px;
    display: inline-block;
    
    font-weight: bold;
    background-color: #45b3e0;
    color: white;
    border-radius: 10px;
    transition-duration: 0.4s;
}
        
.sButton:hover {
   background-color:#f3fafd;
   border: 1px solid	 #3996bb;
   color:black;
}     

a{
    margin-left: 28%;
    font-size: 15px;
}

a:link {
  color: black;
}

/* visited link */
a:visited {
  color: black;
}
        
/* The width is 100%, when the viewport is 800px or smaller */
 @media (max-width: 480px) {
    #div {
        top: 50%; /* IMPORTANT */
        left: 50%; /* IMPORTANT */
        display: block;
        position: absolute;
        background: url(images/background.png) no-repeat center center;
        width: 750px;
        height: 417px;

        margin-top: -208.5px; /* HALF OF THE HEIGHT */
        margin-left: -375px; /* HALF OF THE WIDTH */
    }
}